
{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}

    {% set editorIds = [] %}

    {% for module in page.collection %}

        {{ module.content }}

    {% endfor %}

    {% set next = page.header.next %}

    <div class="nextPrevWrapper">
        {% if page.header.prev != false %}
            <a class="prev" href="/tutorial{{ page.header.prev }}">
                &langle; Previous: {{ page.header.prev_text }}
            </a>
        {% else %}
            <span></span>
        {% endif %}
        {% if page.header.next != false %}
            <a class="next" href="/tutorial{{ page.header.next }}">
                Next: {{ page.header.next_text }} &rangle;
            </a>
        {% else %}
            <span></span>
        {% endif %}
    </div>

    {% include 'partials/mirror_bottom_scripts.html.twig' %}

{% endblock %}
